{% extends 'Layout.html' %}

{% block main_content %}
<header id="page-topbar">
     {% load static %}
    <div class="layout-width">
        <div class="navbar-header  justify-content-between align-items-center">
            <!-- LOGO -->
            <div class="d-flex justify-content-start align-items-center">
                <div class="navbar-brand-box horizontal-logo">
                    <a href="index.html" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="{% static 'images/logo-sm.png' %}" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="{% static 'images/logo-dark.svg' %}" alt="" height="17">
                        </span>
                    </a>

                    <a href="index.html" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="{% static 'images/logo-sm.png' %}" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="{% static 'images/logo-light.svg' %}" alt="" height="17">
                        </span>
                    </a>
                </div>
                <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger" id="topnav-hamburger-icon">
                    <span class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>
                <div class="breadcrumb">
                    <div class="breadcrumb-item ms-3">Setup</div> <div class="breadcrumb-item">Create Feild</div>
                </div>
            </div>


            <div class="d-flex align-items-center">
                <div class="page-button d-flex justify-content-end align-items-center">
                    <div class="d-flex flex-column align-items-end m-1 mb-0">
                        <button class="btn btn-sm btn-light" onclick="BackToList()">Back</button>
                    </div>
                    <div class="form-group d-flex flex-column align-items-end m-1 mb-0">
                        <button data-bs-toggle="modal"  class="btn btn-sm btn-warning" onclick="openEditModal()" id="editbutton">Edit</button>
                    </div>
                    <div class="form-group d-flex flex-column align-items-end m-1 mb-0">
                        <button data-bs-toggle="modal" data-bs-target=".myMOdalOpenAddEdit" class="btn btn-sm btn-success" onclick="openAddModal()" id="Addbutton">Add</button>
                    </div>
                </div>
                <div class="ms-1 header-item d-none d-sm-flex">
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle" data-toggle="fullscreen">
                        <i class='bx bx-fullscreen fs-22'></i>
                    </button>
                </div>
                <div class="ms-1 header-item d-none d-sm-flex">
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle light-dark-mode">
                        <i class='bx bx-moon fs-22'></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>
<!--end of topbar-->
<div class="row">
    <div class="col-lg-12 col-12">
        <div class="card">
            <div class="card-body p-1">
                <div class="table-responsive">

                    <div id="myLead_master" class="ag-theme-balham" style="height: 88vh">

                    </div>

                    <!--end table-->
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade myMOdalOpenAddEdit" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myExtraLargeModalLabel">
                    Add/Edit
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <input type="number" id="IId" style="display:none;">
            <div class="modal-body">
                <form id="AddEditCustomFldForm" class="needs-validation" novalidate>
                    <!-- Category Name -->
                    <div class="form-group row">
                         <div class="col-lg-4 col-sm-6 col-12">
                            <div class="mb-3">
                                <label for="SpaceListId" class="form-label">SpaceList:</label>
                                <select class="form-select" id="SpaceListId" name="SpaceListId" required>
                                    <option value="">Select Option</option>

                                    <!-- Add more options as needed -->
                                </select>
                                <div class="invalid-feedback">
                                    Please enter the Space.
                                </div>
                            </div>
                        </div>
                         <div class="col-lg-4 col-sm-6 col-12">
                            <div class="mb-3">
                                <label for="TypeID" class="form-label">Type:</label>
                                <select class="form-select" id="TypeID" name="TypeID" required>
                                    <option value="">Select Option</option>

                                    <!-- Add more options as needed -->
                                </select>
                                <div class="invalid-feedback">
                                    Please Select Type.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12" id="ValueTypeField">
                            <div class="mb-3">
                                <label for="ValueTypeId" class="form-label">ValueType:</label>
                                <select class="form-select" id="ValueTypeId" name="ValueTypeId" required>
                                    <option value="">Select Option</option>

                                    <!-- Add more options as needed -->
                                </select>
                                <div class="invalid-feedback">
                                    Please Select ValueType.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12" id="NameField">
                            <!-- Routing Link -->
                            <div class="mb-3">
                                <label for="Name" class="form-label">Name:</label>
                                <input type="text" class="form-control" id="Name" name="Name">
                                <div class="invalid-feedback">
                                    Please enter the Name.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- Routing Link -->
                            <div class="mb-3">
                                <label for="Lable" class="form-label">Lable:</label>
                                <input type="text" class="form-control" id="Lable" name="Lable" required>
                                <div class="invalid-feedback">
                                    Please enter the Lable.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- Routing Link -->
                            <div class="mb-3">
                                <label for="Width" class="form-label">Width:</label>
                                <input type="text" class="form-control" id="Width" name="Width" required>
                                <div class="invalid-feedback">
                                    Please enter the Width.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- Routing Link -->
                            <div class="mb-3">
                                <label for="ValSize" class="form-label">ValSize:</label>
                                <input type="text" class="form-control" id="ValSize" name="ValSize">
                                <div class="invalid-feedback">
                                    Please enter the ValSize.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- Routing Link -->
                            <div class="mb-3 w-100">
                                <label for="ListValue" class="form-label">ListValue:</label>
                                <input type="text" class="form-control" id="ListValue" name="ListValue">
                                <div class="invalid-feedback">
                                    Please enter the Custom Name.
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="mb-3">
                                <label for="SeqNo" class="form-label">SeqNo:</label>
                                <input type="text" class="form-control" id="SeqNo" name="SeqNo" required>
                                <div class="invalid-feedback">
                                    Please enter the SeqNo.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12" >
                            <!-- Routing Link -->
                            <div class="mb-3 w-100 d-flex flex-column">
                                <label for="IsfromLookUp" class="form-label">IsfromLookUp:</label>
                                <input type="checkbox" class="form-check-input" id="IsfromLookUp" name="IsfromLookUp" >
                                <div class="invalid-feedback">
                                    Check the radio button.
                                </div>
                            </div>
                        </div>

                         <div class="col-lg-4 col-sm-6 col-12" >
                            <!-- Routing Link -->
                            <div class="mb-3 w-100 d-flex flex-column">
                                <label for="IsShowInKanban" class="form-label">IsShowInKanban:</label>
                                <input type="checkbox" class="form-check-input" id="IsShowInKanban" name="IsShowInKanban" >
                                <div class="invalid-feedback">
                                    Check the radio button.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12" id="optionalFields2" >
                            <!-- Routing Link -->
                            <div class="mb-3 w-100 d-flex flex-column">
                                <label for="IsRequired" class="form-label">IsRequired:</label>
                                <input type="checkbox" class="form-check-input" id="IsRequired" name="IsRequired" >
                                <div class="invalid-feedback">
                                    Check the radio button.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-12">
                            <!-- Routing Link -->
                            <div class="mb-3">
                                <label class="form-label">Status:</label>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="inOrder" id="activeOrder" value="active" >
                                        <label class="form-check-label" for="activeOrder">
                                            Active
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="inOrder" id="inactiveOrder" value="inactive">
                                        <label class="form-check-label" for="inactiveOrder">
                                            Inactive
                                        </label>
                                    </div>
                                </div>
                                <div class="invalid-feedback">
                                    Please select the status.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-4 col-sm-8 col-12 justify-content-between">
                            <button type="button" class="btn btn-secondary fw-medium material-shadow-none" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    <input type="hidden" name="csrfmiddlewaretoken" value={ csrf_token }  />
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="{% static 'js/CustomeFeild/CustomeFeild.js' %}"></script>


{% endblock %}