{% extends 'Layout.html' %}

{% block main_content %}

<header id="page-topbar">
    {% load static %}
    <div class="layout-width">
        <div class="navbar-header  justify-content-between align-items-center">
            <!-- LOGO -->
            <div class="d-flex justify-content-start align-items-center">
                <div class="navbar-brand-box horizontal-logo">
                    <a href="index.html" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="{% static 'images/logo-sm.png' %}" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="{% static 'images/logo-dark.svg' %}" alt="" height="17">
                        </span>
                    </a>

                    <a href="index.html" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="{% static 'images/logo-sm.png' %}" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="{% static 'images/logo-light.svg' %}" alt="" height="17">
                        </span>
                    </a>
                </div>
                <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger" id="topnav-hamburger-icon">
                    <span class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>
                <div class="breadcrumb">
                    <div class="breadcrumb-item ms-3">Setup</div> <div class="breadcrumb-item">User</div>
                </div>
            </div>


            <div class="d-flex align-items-center">
                <div class="page-button d-flex justify-content-end align-items-center">
                    <div class="form-group d-flex flex-column align-items-end m-1 mb-0">
                        <button data-bs-toggle="modal"  class="btn btn-sm btn-warning" onclick="openEditModal()" id="editbutton">Edit</button>
                    </div>
                    <div class="form-group d-flex flex-column align-items-end m-1 mb-0">
                        <button data-bs-toggle="modal" data-bs-target=".myMOdalOpen" class="btn btn-sm btn-success" onclick="openAddModal()" id="Addbutton">Add</button>
                    </div>
                </div>
                <div class="ms-1 header-item d-none d-sm-flex">
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle" data-toggle="fullscreen">
                        <i class='bx bx-fullscreen fs-22'></i>
                    </button>
                </div>
                <div class="ms-1 header-item d-none d-sm-flex">
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle light-dark-mode">
                        <i class='bx bx-moon fs-22'></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <style>
        .hidden {
            display: none;
        }
    </style>
</header>
<!--end of topbar-->
<div class="row">
    <div class="col-lg-12 col-12">
        <div class="card">
            <div class="card-body p-1">
                <div class="table-responsive">
                    <div id="myLead_master" class="ag-theme-balham" style="height: 70vh">

                    </div>
                    <!--end table-->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade myMOdalOpen" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myExtraLargeModalLabel1">
                    Add
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="UserForm" class="needs-validation" novalidate>
                    <div class="form-group row">
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- User Name -->
                            <div class="mb-3">
                                <label class="mb-2 fw-bold" for="AUsername">User Name:</label>
                                <input type="text" id="AUsername" name="AUsername" class="form-control" placeholder="Enter User Name" required="" >
                                <div class="invalid-feedback">
                                    Please enter the User Name.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- User ID -->
                            <div class="mb-3">
                                <label class="mb-2 fw-bold" for="AuserId">User ID:</label>
                                <input type="text" id="AuserId" name="AuserId" class="form-control" placeholder="Enter User ID" required="" value="">
                                <div class="invalid-feedback">
                                    Please enter the User ID.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- Password -->
                            <div class="mb-3">
                                <label class="mb-2 fw-bold" for="Apassword">Password:</label>
                                <input type="password" id="Apassword" name="Apassword" class="form-control" placeholder="Enter Password" required="" value="">
                                <div class="invalid-feedback">
                                    Please enter the Password.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- Emp Code -->
                            <div class="mb-3">
                                <label class="mb-2 fw-bold" for="AempCode">Emp Code:</label>
                                <input type="text" id="AempCode" name="AempCode" class="form-control" placeholder="Enter Emp Code" required="" value="">
                                <div class="invalid-feedback">
                                    Please enter the Emp Code.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- User Address -->
                            <div class="mb-3">
                                <label class="mb-2 fw-bold" for="Aaddress">User Address:</label>
                                <input type="text" id="Aaddress" name="Aaddress" class="form-control" placeholder="Enter User Address" required="" value="">
                                <div class="invalid-feedback">
                                    Please enter the User Address.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- User Address -->
                            <div class="mb-3">
                                <label class="mb-2 fw-bold w-100" for="AisUserLDAP">IsUserLDAP:</label>
                                    <input type="checkbox" id="AisUserLDAP" name="AisUserLDAP" class="form-radio-control" placeholder="Enter User Address" value="">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- Select Role -->
                            <div class="mb-3">
                                <label class="mb-2 fw-bold" for="ARoleId">Select Role:</label>
                                <select class="form-select form-control" id="ARoleId" name="ARoleId" required="">

                                </select>
                                <div class="invalid-feedback">
                                    Please select a Role.
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Action Buttons -->
                    <div class="row">
                        <div class="col-lg-4 col-sm-8 col-12 justify-content-between">
                            <button type="reset" class="btn btn-secondary fw-medium material-shadow-none" style="margin-right: 10px;">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                    <input type="hidden" name="csrfmiddlewaretoken" value={ csrf_token }  />
                </form>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade myMOdalOpenEdit" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myExtraLargeModalLabel">
                    Edit
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="EditUserForm" class="needs-validation" novalidate>
                    <div class="form-group row">
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- User Name -->
                            <div class="mb-3">
                                <label class="mb-2 fw-bold" for="EUsername">User Name:</label>
                                <input type="text" id="EUsername" name="EUsername" class="form-control" placeholder="Enter User Name" required="" value="">
                                <div class="invalid-feedback">
                                    Please enter the User Name.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- User ID -->
                            <div class="mb-3">
                                <label class="mb-2 fw-bold" for="EuserId">User ID:</label>
                                <input type="text" id="EuserId" name="EuserId" class="form-control" placeholder="Enter User ID" required="" value="">
                                <div class="invalid-feedback">
                                    Please enter the User ID.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- Emp Code -->
                            <div class="mb-3">
                                <label class="mb-2 fw-bold" for="EempCode">Emp Code:</label>
                                <input type="text" id="EempCode" name="EempCode" class="form-control" placeholder="Enter Emp Code" required="" value="">
                                <div class="invalid-feedback">
                                    Please enter the Emp Code.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- User Address -->
                            <div class="mb-3">
                                <label class="mb-2 fw-bold" for="Eaddress">User Address:</label>
                                <input type="text" id="Eaddress" name="Eaddress" class="form-control" placeholder="Enter User Address" required="" value="">
                                <div class="invalid-feedback">
                                    Please enter the User Address.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- Select Role -->
                            <div class="mb-3">
                                <label class="mb-2 fw-bold" for="ERoleId">Select Role:</label>
                                <select class="form-select form-control" id="ERoleId" name="ERoleId" required="">
                                    <option value="" disabled="">Select Role</option>

                                </select>
                                <div class="invalid-feedback">
                                    Please select a Role.
                                </div>
                            </div>
                        </div>
                         <div class="col-lg-4 col-sm-6 col-12">
                            <!-- Password -->
                            <div class="mb-3">
                                <label class="mb-2 fw-bold" for="EPassword">Password:</label>
                                <input type="password" id="EPassword" name="EPassword" class="form-control" placeholder="Enter Password"  value="">
                                <div class="invalid-feedback">
                                    Please enter the Password.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- User Address -->
                            <div class="mb-3">
                                <label class="mb-2 fw-bold w-100" for="AisUserLDAP">IsUserLDAP:</label>
                                    <input type="checkbox" id="EisUserLDAP" name="AisUserLDAP" class="form-radio-control" placeholder="Enter User Address" value="">
                            </div>
                        </div>
                         <div class="col-lg-4 col-sm-4 col-12">
                            <!-- Routing Link -->
                            <div class="mb-3">
                                <label class="form-label">Status:</label>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="inOrder" id="activeOrder" value="active" >
                                        <label class="form-check-label" for="activeOrder">
                                            Active
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="inOrder" id="inactiveOrder" value="inactive">
                                        <label class="form-check-label" for="inactiveOrder">
                                            Inactive
                                        </label>
                                    </div>
                                </div>
                                <div class="invalid-feedback">
                                    Please select the status.
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Action Buttons -->
                    <div class="row">
                        <div class="col-lg-4 col-sm-8 col-12 justify-content-between">
                            <button type="reset" class="btn btn-secondary fw-medium material-shadow-none" style="margin-right: 10px;">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/User/User.js' %}"></script>

<!--  <script type="text/javascript">-->
<!--  -->

<!--  </script>-->

{% endblock %}