{% extends 'Layout.html' %}

{% block main_content %}

<header id="page-topbar">
    {% load static %}
    <div class="layout-width">
        <div class="navbar-header  justify-content-between align-items-center">
            <!-- LOGO -->
            <div class="d-flex justify-content-start align-items-center">
                <div class="navbar-brand-box horizontal-logo">
                    <a href="index.html" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="{% static 'images/logo-sm.png' %}" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="{% static 'images/logo-dark.svg' %}" alt="" height="17">
                        </span>
                    </a>

                    <a href="index.html" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="{% static 'images/logo-sm.png' %}" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="{% static 'images/logo-light.svg' %}" alt="" height="17">
                        </span>
                    </a>
                </div>
                <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger" id="topnav-hamburger-icon">
                    <span class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>
                <div class="breadcrumb">
                    <div class="breadcrumb-item ms-3">Setup</div> <div class="breadcrumb-item">User</div>
                </div>
            </div>


            <div class="d-flex align-items-center">
                <div class="page-button d-flex justify-content-end align-items-center">
                    <div class="form-group d-flex flex-column align-items-end m-1 mb-0">
                        <button data-bs-toggle="modal"  class="btn btn-sm btn-warning" onclick="openEditModal()" id="editbutton">Edit</button>
                    </div>
                    <div class="form-group d-flex flex-column align-items-end m-1 mb-0">
                        <button data-bs-toggle="modal" data-bs-target=".myMOdalOpen" class="btn btn-sm btn-success" onclick="openAddModal()">Add</button>
                    </div>
                </div>
                <div class="ms-1 header-item d-none d-sm-flex">
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle" data-toggle="fullscreen">
                        <i class='bx bx-fullscreen fs-22'></i>
                    </button>
                </div>
                <div class="ms-1 header-item d-none d-sm-flex">
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle light-dark-mode">
                        <i class='bx bx-moon fs-22'></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <style>
        .hidden {
            display: none;
        }
    </style>
</header>
<!--end of topbar-->
<div class="row">
    <div class="col-lg-12 col-12">
        <div class="card">
            <div class="card-body p-1">
                <div class="table-responsive">
                    <div id="myLead_master" class="ag-theme-balham" style="height: 70vh">

                    </div>
                    <!--end table-->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade myMOdalOpen" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myExtraLargeModalLabel1">
                    Add
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="UserForm" class="needs-validation" novalidate>
                    <div class="form-group row">
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- User Name -->
                            <div class="mb-3">
                                <label class="mb-2 fw-bold" for="AUsername">User Name:</label>
                                <input type="text" id="AUsername" name="AUsername" class="form-control" placeholder="Enter User Name" required="" >
                                <div class="invalid-feedback">
                                    Please enter the User Name.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- User ID -->
                            <div class="mb-3">
                                <label class="mb-2 fw-bold" for="AuserId">User ID:</label>
                                <input type="text" id="AuserId" name="AuserId" class="form-control" placeholder="Enter User ID" required="" value="">
                                <div class="invalid-feedback">
                                    Please enter the User ID.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- Password -->
                            <div class="mb-3">
                                <label class="mb-2 fw-bold" for="Apassword">Password:</label>
                                <input type="password" id="Apassword" name="Apassword" class="form-control" placeholder="Enter Password" required="" value="">
                                <div class="invalid-feedback">
                                    Please enter the Password.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- Emp Code -->
                            <div class="mb-3">
                                <label class="mb-2 fw-bold" for="AempCode">Emp Code:</label>
                                <input type="text" id="AempCode" name="AempCode" class="form-control" placeholder="Enter Emp Code" required="" value="">
                                <div class="invalid-feedback">
                                    Please enter the Emp Code.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- User Address -->
                            <div class="mb-3">
                                <label class="mb-2 fw-bold" for="Aaddress">User Address:</label>
                                <input type="text" id="Aaddress" name="Aaddress" class="form-control" placeholder="Enter User Address" required="" value="">
                                <div class="invalid-feedback">
                                    Please enter the User Address.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- User Address -->
                            <div class="mb-3">
                                <label class="mb-2 fw-bold w-100" for="AisUserLDAP">IsUserLDAP:</label>
                                    <input type="checkbox" id="AisUserLDAP" name="AisUserLDAP" class="form-radio-control" placeholder="Enter User Address" value="">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- Select Role -->
                            <div class="mb-3">
                                <label class="mb-2 fw-bold" for="ARoleId">Select Role:</label>
                                <select class="form-select form-control" id="ARoleId" name="ARoleId" required="">

                                </select>
                                <div class="invalid-feedback">
                                    Please select a Role.
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Action Buttons -->
                    <div class="row">
                        <div class="col-lg-4 col-sm-8 col-12 justify-content-between">
                            <button type="reset" class="btn btn-secondary fw-medium material-shadow-none" style="margin-right: 10px;">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                    <input type="hidden" name="csrfmiddlewaretoken" value={ csrf_token }  />
                </form>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade myMOdalOpenEdit" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myExtraLargeModalLabel">
                    Edit
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="EditUserForm" class="needs-validation" novalidate>
                    <div class="form-group row">
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- User Name -->
                            <div class="mb-3">
                                <label class="mb-2 fw-bold" for="EUsername">User Name:</label>
                                <input type="text" id="EUsername" name="EUsername" class="form-control" placeholder="Enter User Name" required="" value="">
                                <div class="invalid-feedback">
                                    Please enter the User Name.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- User ID -->
                            <div class="mb-3">
                                <label class="mb-2 fw-bold" for="EuserId">User ID:</label>
                                <input type="text" id="EuserId" name="EuserId" class="form-control" placeholder="Enter User ID" required="" value="">
                                <div class="invalid-feedback">
                                    Please enter the User ID.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- Emp Code -->
                            <div class="mb-3">
                                <label class="mb-2 fw-bold" for="EempCode">Emp Code:</label>
                                <input type="text" id="EempCode" name="EempCode" class="form-control" placeholder="Enter Emp Code" required="" value="">
                                <div class="invalid-feedback">
                                    Please enter the Emp Code.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- User Address -->
                            <div class="mb-3">
                                <label class="mb-2 fw-bold" for="Eaddress">User Address:</label>
                                <input type="text" id="Eaddress" name="Eaddress" class="form-control" placeholder="Enter User Address" required="" value="">
                                <div class="invalid-feedback">
                                    Please enter the User Address.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- Select Role -->
                            <div class="mb-3">
                                <label class="mb-2 fw-bold" for="ERoleId">Select Role:</label>
                                <select class="form-select form-control" id="ERoleId" name="ERoleId" required="">
                                    <option value="" disabled="">Select Role</option>

                                </select>
                                <div class="invalid-feedback">
                                    Please select a Role.
                                </div>
                            </div>
                        </div>
                         <div class="col-lg-4 col-sm-6 col-12">
                            <!-- Password -->
                            <div class="mb-3">
                                <label class="mb-2 fw-bold" for="EPassword">Password:</label>
                                <input type="password" id="EPassword" name="EPassword" class="form-control" placeholder="Enter Password"  value="">
                                <div class="invalid-feedback">
                                    Please enter the Password.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <!-- User Address -->
                            <div class="mb-3">
                                <label class="mb-2 fw-bold w-100" for="AisUserLDAP">IsUserLDAP:</label>
                                    <input type="checkbox" id="EisUserLDAP" name="AisUserLDAP" class="form-radio-control" placeholder="Enter User Address" value="">
                            </div>
                        </div>

                    </div>

                    <!-- Action Buttons -->
                    <div class="row">
                        <div class="col-lg-4 col-sm-8 col-12 justify-content-between">
                            <button type="reset" class="btn btn-secondary fw-medium material-shadow-none" style="margin-right: 10px;">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--<script src="{% static 'js/main.js' %}"></script>-->

  <script type="text/javascript">
      //.....##############################.....User module js code........#########################################
let editbutton=document.getElementById('editbutton');
var selectedRowData;
var gridOptions;
// Function to handle row click event in AG Grid
function onRowClicked(event) {
debugger;
    // Get the selected row data
    selectedRowData = event.data;
    console.log(selectedRowData);
}

    // Function to open the edit modal and pre-fill fields with selected row data
function openEditModal() {

    debugger;
    // Check if a row is selected
    if (selectedRowData) {

        // Pre-fill the edit form fields with the selected row data
        $('#id').val(selectedRowData.id);
        $('#EUsername').val(selectedRowData.name);
        $('#EuserId').val(selectedRowData.userId);
        $('#EempCode').val(selectedRowData.EmpCode);
        $('#Eaddress').val(selectedRowData.address);
        $('#ERoleId').val(selectedRowData.roleId);
        $('#EPassword').val('');
        $('#EisUserLDAP').prop('checked', selectedRowData.isUserLDAP);
         // Pre-select the checkbox based on the value of "isActive"
        $('#activeOrder').prop('checked', selectedRowData.isActive);
        $('#inactiveOrder').prop('checked', !selectedRowData.isActive);
        // Open the edit modal
        $('.myMOdalOpenEdit').modal('show');
        hideFields()
    }
    else {
        alert('Please select a row to edit.');
    }
}

// Function to clear form fields after saving data
function clearFormFields() {
    // Clear form fields for adding data
    $('#UserForm input[type=text], #moduleForm textarea').val('');
    $('#UserForm input[type=checkbox]').prop('checked', false);

    // Clear form fields for editing data
    $('#EditUserForm input[type=text], #EditmoduleForm textarea').val('');
    $('#EditUserForm input[type=checkbox]').prop('checked', false);

    // Set dropdown to default option
    $('#ARoleId').prop('selectedIndex', 0);
      // Uncheck radio button
    $('#AisUserLDAP').prop('checked', false);


}

function openAddModal(){
  clearFormFields()
}

// Function to fetch data and update AG Grid
function fetchDataAndUpdateGrid() {
    // Make an AJAX request to fetch the data from your API
    debugger;
    let options = {
        method: "GET",
        headers: {
            "Content-Type": "application/json",
            "Authorization": localStorage.getItem('token_') // Include token in the request headers
        },
    };
    fetch('/pms/Users', options)
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        // Check if data is empty or null
        if (!data || data.length === 0) {
            console.error('Fetched data is empty or null.');
            return;
        }
        // Set new row data to the existing grid
        gridOptions.api.setRowData(data);
    })
    .catch(error => {
        console.error('Error fetching or setting data:', error);
    });
}
document.addEventListener('DOMContentLoaded', function() {
    // Initialize AG Grid
    const gridDiv = document.querySelector('#myLead_master');
    gridOptions = {
        columnDefs: [
                { headerName: 'Name', field: 'name' },
                { headerName: 'EmpCode', field: 'EmpCode' },
                { headerName: 'UserId', field: 'userId' },
                { headerName: 'Address', field: 'address' },
                { headerName: 'roleName', field: 'roleName' },
                { headerName: 'IsUserLDAP_User', field: 'isUserLDAP' },
                { headerName: 'UserImagePath', field: 'userImagePath' },
                { headerName: 'Created By', field: 'createdByName' },
                { headerName: 'Created On', field: 'createdOn' },
                { headerName: 'Updated By', field: 'updatedByName' },
                { headerName: 'Updated On', field: 'updatedOn' },
                { headerName: 'Active', field: 'isActive' }
        ],
        defaultColDef: {
            flex: 1,
            minWidth: 130,
            editable: false,
            resizable: true,
            sortable: true,
            filter: true,
            floatingFilter: true,
            enableValue: true,
            enableRowGroup: true,
            enablePivot: true,
        },
        rowSelection: 'multiple',
        animateRows: true,
        onRowClicked: onRowClicked // Attach row click event handler
    };
    new agGrid.Grid(gridDiv, gridOptions);

    // Call the function to fetch data and initialize AG Grid
    fetchDataAndUpdateGrid();
});

// Event listener for form submission
$('#UserForm').submit(function (e) {
    debugger;
    //Check if the form is valid
    if (!this.checkValidity()) {
        e.preventDefault(); // Prevent form submission if it's not valid
        e.stopPropagation();
    this.classList.add('was-validated');
    } else {
        addUser(e)
    }

});
function addUser(e){
    debugger;
    e.preventDefault();
    const radioOOO = $('#AisUserLDAP').val();
    alert(radioOOO);
    var localStorageData = JSON.parse(localStorage.getItem('id'));
    var currentDate = new Date().toISOString();
    const payload = {
        "name":$('#AUsername').val(),
        "empCode":$('#AempCode').val(),
        "userId":$('#AuserId').val(),
        "address":$('#Aaddress').val(),
        "roleId":$('#ARoleId').val(),
        "password":$('#Apassword').val(),
        "isUserLDAP":$('#AisUserLDAP').val(),
        "createdBy": localStorage.getItem('id'),
        "createdOn": currentDate,
        "isActive": true
    };

    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    // Make fetch request
    fetch('/pms/AddUsers/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
            "Authorization": localStorage.getItem('token_') // Include token in the request headers
        },
        body: JSON.stringify(payload)
    })
    .then(function(response) {
        return response.json();
    })
    .then(function(jsonData) {
        alert(jsonData.Msg);
        console.log(jsonData.Msg);
        console.log('Updating AG Grid...');
        // Update the AG Grid after successful save
        fetchDataAndUpdateGrid();
    })
    .catch(function(error) {
        console.error('Error submitting form:', error);
    });
}

// Event listener for edit form submission
$('#EditUserForm').submit(function (e) {
debugger;
    //Check if the form is valid
    if (!this.checkValidity()) {
        e.preventDefault(); // Prevent form submission if it's not valid
        e.stopPropagation();
    this.classList.add('was-validated');
    } else {
        EditUser(e)
    }

});
function EditUser(e){
debugger;
    e.preventDefault();
    var currentDate = new Date().toISOString();
    const payload = {
        "id":selectedRowData.id,
        "name": $('#EUsername').val(),
        "empCode": $('#EempCode').val(),
        "userId": $('#EuserId').val(),
        "address": $('#Eaddress').val(),
        "roleId": $('#ERoleId').val(),
        "isUserLDAP": $('#EisUserLDAP').prop('checked'),
        "password":$('#EPassword').val(),
        "updatedBy": localStorage.getItem('id'),
        "updatedOn": currentDate,
        "isActive":$('input[name="inOrder"]:checked').val() === 'active',
    };
    // If the password field is not empty, include it in the payload
    const newPassword = $('#EPassword').val().trim();
    if (newPassword) {
        payload.password = newPassword;
    }

    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    // Make fetch request
    fetch('/pms/AddUsers/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
            "Authorization": localStorage.getItem('token_') // Include token in the request headers
        },
        body: JSON.stringify(payload)
    })
    .then(function(response) {
        return response.json();
    })
    .then(function(jsonData) {
        console.log('Response Data:', jsonData); // Log the response data
        alert(jsonData.Msg);
        console.log(jsonData.Msg);

        // Update the AG Grid after successful edit
        fetchDataAndUpdateGrid();
    })
    .catch(function(error) {
        console.error('Error submitting edit form:', error);
    });
}


// Function to fetchControlTypeDropdown
function fetchRoleDropdown(selectId, selectedCode) {

    debugger;
    // Make an AJAX request to fetch the data from your API
    let options = {
        method: "GET",
       headers: {
            'Content-Type': 'application/json',
            "Authorization": localStorage.getItem('token_') // Include token in the request headers
        },
    };
    fetch('/pms/Roles/', options)
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            // Check if data is empty or null
            console.log(data);
            if (!data || data.length === 0) {
                console.error('Fetched data is empty or null.');
                return;
            }
            let selectElement = document.getElementById(selectId);
            selectElement.innerHTML = '<option value="">Select Option</option>';

            // Clear existing options
            selectElement.innerHTML = '<option value="">Select Option</option>';

            // Populate dropdown with fetched data
            data.forEach(item1 => {
                let option = document.createElement('option');
                option.value = item1.id; // Set the value attribute to the code value
                option.text = item1.roleName; // Set the text content of the option to the code value
                if (item1.id == selectedCode) { // Check if current option matches selectedCode
                    option.selected = true; // Set the selected attribute
                }
                selectElement.appendChild(option);
            });
        })
        .catch(error => {
            console.error('Error fetching icon data:', error);
        });
}
fetchRoleDropdown('ARoleId', null)
fetchRoleDropdown('ERoleId', $('#ERoleId').val())


 // Get reference to radio button and password field
    const radioBtn = document.getElementById('AisUserLDAP');
    const passwordField = document.getElementById('Apassword');
    // Add event listener for radio button change
    radioBtn.addEventListener('change', function() {
        // Check if radio button is checked
        if (this.checked) {
            // Hide password field
            passwordField.classList.add('hidden');
        } else {
            // Show password field
            passwordField.classList.remove('hidden');
        }
    });

 function hideFields(){
   const radioBtn = document.getElementById('EisUserLDAP');
    const passwordField = document.getElementById('EPassword');
    // Add event listener for radio button change
    radioBtn.addEventListener('change', function() {
        // Check if radio button is checked
        if (this.checked) {
            // Hide password field
            passwordField.classList.add('hidden');
        } else {
            // Show password field
            passwordField.classList.remove('hidden');
        }
    });
 }



  </script>

{% endblock %}