{% extends 'Layout.html' %}

{% block main_content %}

<header id="page-topbar">
    {% load static %}
    <div class="layout-width">
        <div class="navbar-header  justify-content-between align-items-center">
            <!-- LOGO -->
            <div class="d-flex justify-content-start align-items-center">
                <div class="navbar-brand-box horizontal-logo">
                    <a href="index.html" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="{% static 'images/logo-sm.png' %}" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="{% static 'images/logo-dark.svg' %}" alt="" height="17">
                        </span>
                    </a>

                    <a href="index.html" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="{% static 'images/logo-sm.png' %}" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="{% static 'images/logo-light.svg' %}" alt="" height="17">
                        </span>
                    </a>
                </div>
                <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger" id="topnav-hamburger-icon">
                    <span class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>
                <div class="breadcrumb">
                    <div class="breadcrumb-item ms-3">Setup</div> <div class="breadcrumb-item">Space</div>
                </div>
            </div>


            <div class="d-flex align-items-center">
                <div class="page-button d-flex justify-content-end align-items-center">
                    <div class="form-group d-flex flex-column align-items-end m-1 mb-0">
                        <button data-bs-toggle="modal" class="btn btn-sm btn-warning" onclick="openEditModal()" id="editbutton">Edit</button>
                    </div>
                    <div class="form-group d-flex flex-column align-items-end m-1 mb-0">
                        <button data-bs-toggle="modal" data-bs-target=".myMOdalOpen" class="btn btn-sm btn-success" onclick="openAddModal()" id="Addbutton">Add</button>
                    </div>
                </div>
                <div class="ms-1 header-item d-none d-sm-flex">
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle" data-toggle="fullscreen">
                        <i class='bx bx-fullscreen fs-22'></i>
                    </button>
                </div>
                <div class="ms-1 header-item d-none d-sm-flex">
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle light-dark-mode">
                        <i class='bx bx-moon fs-22'></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>
<!--end of topbar-->
<div class="row">
    <div class="col-lg-12 col-12">
        <div class="card">
            <div class="card-body p-1">
                <div class="table-responsive">
                    <div id="myLead_master" class="ag-theme-balham" style="height: 70vh">
                    </div>
                    <!--end table-->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade myMOdalOpen" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myExtraLargeModalLabel1">
                    Add
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="SpaceForm" class="needs-validation" novalidate>
                    <!-- Category Name -->
                    <div class="form-group row">
                        <div class="col-lg-6 col-sm-6 col-12">
                            <!-- Routing Link -->
                            <div class="mb-3">
                                <label for="ACode" class="form-label">Code:</label>
                                <input type="text" class="form-control" id="ACode" name="ACode" required>
                                <div class="invalid-feedback">
                                    Please enter the Code.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12">
                            <!-- Routing Link -->
                            <div class="mb-3">
                                <label for="ASpaceName" class="form-label">Name:</label>
                                <input type="text" class="form-control" id="ASpaceName" name="ASpaceName" required>
                                <div class="invalid-feedback">
                                    Please enter the Routing Link.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12">
                            <!-- Routing Link -->
                            <div class="mb-3">
                                <label for="ADescription" class="form-label">Description:</label>
                                <input type="text" class="form-control" id="ADescription" name="ADescription" required>
                                <div class="invalid-feedback">
                                    Please enter the Description.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12">
                            <!-- Icon -->
                            <div class="mb-3">
                                <label for="addl" class="form-label">Icon:</label>
                                <select class="form-select" id="addl" name="addl" required>
                                    <option value="">Select Option</option>

                                    <!-- Add more options as needed -->
                                </select>
                                <div class="invalid-feedback">
                                    Please select an Icon.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-12 col-sm-12 col-12 justify-content-between">
                            <button type="button" class="btn btn-secondary fw-medium material-shadow-none" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    <input type="hidden" name="csrfmiddlewaretoken" value={ csrf_token }  />
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade myMOdalOpenEdit" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myExtraLargeModalLabel">
                    Edit
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editSpaceForm" class="needs-validation" novalidate>
                    <!-- Category Name -->
                    <div class="form-group row">
                        <div class="col-lg-6 col-sm-6 col-12">
                            <!-- Routing Link -->
                            <div class="mb-3">
                                <label for="ECode" class="form-label">Code:</label>
                                <input type="text" class="form-control" id="ECode" value="ECode" name="Code" required>
                                <div class="invalid-feedback">
                                    Please enter the Code.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12">
                            <!-- Routing Link -->
                            <div class="mb-3">
                                <label for="ESpaceName" class="form-label">Name:</label>
                                <input type="text" class="form-control" id="ESpaceName"  name="ESpaceName" required>
                                <div class="invalid-feedback">
                                    Please enter the Routing Link.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12">
                            <!-- Routing Link -->
                            <div class="mb-3">
                                <label for="EDescription" class="form-label">Description:</label>
                                <input type="text" class="form-control" id="EDescription"  name="EDescription" required>
                                <div class="invalid-feedback">
                                    Description.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12">
                            <!-- Icon -->
                            <div class="mb-3">
                                <label for="eddl" class="form-label">Icon:</label>
                                <select class="form-select" id="eddl" name="eddl" required>
                                    <option value="">Select Option</option>
                                    <option selected value="fas fa-star">&#xf005; Star</option>
                                    <option value="fas fa-heart">&#xf004; Heart</option>
                                    <option value="fas fa-thumbs-up">&#xf164; Thumbs Up</option>
                                    <!-- Add more options as needed -->
                                </select>
                                <div class="invalid-feedback">
                                    Please select an Icon.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12">
                            <!-- Routing Link -->
                            <div class="mb-3">
                                <label class="form-label">Status:</label>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="inOrder" id="activeOrder" value="active" required>
                                        <label class="form-check-label" for="activeOrder">
                                            Active
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="inOrder" id="inactiveOrder" value="inactive">
                                        <label class="form-check-label" for="inactiveOrder">
                                            Inactive
                                        </label>
                                    </div>
                                </div>
                                <div class="invalid-feedback">
                                    Please select the status.
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-12 col-sm-12 col-12 justify-content-between">
                            <button type="button" class="btn btn-secondary fw-medium material-shadow-none" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/Space/Space.js' %}"></script>
<!--<script type="text/javascript">-->


<!--</script>-->
{% endblock %}
